# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# Maven
# ==========================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ==========================
# Spring Boot
# ==========================
# Excluir configuraciones sensibles
/src/main/resources/application-*.properties
/src/main/resources/application-*.yml
spring-boot-devtools.properties

# ==========================
# Lombok
# ==========================
.lombok.config

# ==========================
# Logs
# ==========================
*.log
logs/
*.tmp

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
*.ipr
*.iws
out/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Otros
# ==========================
.env
.env.*

